<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= subreddit.toUpperCase() %></title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>Browsing the <%= subreddit %> subreddit</h1>
    <h2><%= description %></h2>
    <p><%= subscribers %> Total subscribers</p>
    <hr>

    <% for(let post of posts ) { %>
        <p><%= post.title %> - <b><%= post.author %></b></p>
        <% if (post.img) { %>
            <img src="<%= post.img %>" alt="">
        <% } %>
    <% } %>
</body>
</html>